@using ISPAdressCheckerStatusDashboard.Services.Interfaces;

@inject IRequestEmailService _emailService;
@inject ICounterService counterService;

<div class="interactive-row-element col">
    <div class="align-items-center">
        <div class="input-text-header-header">
            Send me a:
        </div>

        <div class="input-text-header">
            @ItemHeader
        </div>

        <InputText PlaceHodlerText="E-mail address" @bind-StringValue="@emailRequest.EmailAddress" />

        @switch (EmailType)
        {
            case SendEmailTypeEnum._0:
                if (counterService.GetHeartbeatEmailRequestCounter() != 0)
                {
                    <div class="email-adress-submit">
                        <button @onclick="OnSendEmailButtonClicked">@($"Send ({counterService.GetHeartbeatEmailRequestCounter()}x)")</button>
                    </div>
                }
                else
                {
                    <div class="email-adress-submit">
                        <button disabled>@($"Send ({counterService.GetHeartbeatEmailRequestCounter()}x)")</button>
                    </div>
                }
                break;

            case SendEmailTypeEnum._1:
                if (counterService.GetISPAddressChangedRequestCounter() != 0)
                {
                    <div class="email-adress-submit">
                        <button @onclick="OnSendEmailButtonClicked">@($"Send ({counterService.GetISPAddressChangedRequestCounter()}x)")</button>
                    </div>

                }
                else
                {

                    <div class="email-adress-submit">
                        <button disabled>@($"Send ({counterService.GetISPAddressChangedRequestCounter()}x)")</button>
                    </div>
                }
                break;
        }
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string ItemHeader { get; set; } = "HeaderText";

    [Parameter]
    [EditorRequired]
    public SendEmailTypeEnum EmailType { get; set; }


    private SendEmailModel emailRequest = new();

    private ActionReportModel report;

    protected override Task OnInitializedAsync()
    {
        emailRequest.Id = Guid.NewGuid().ToString("N");
        emailRequest.EmailType = EmailType;

        return base.OnInitializedAsync();
    }

    private async Task OnSendEmailButtonClicked()
    {
        switch (EmailType)
        {
            case SendEmailTypeEnum._0:
                counterService.SubtractHeartbeatEmailRequestCounter();
                break;

            case SendEmailTypeEnum._1:
                counterService.SubtractISPAddressChangedRequestCounter();
                break;
        }

        //ToDo createValidation on input
        emailRequest.EmailValidated = true;
        emailRequest.EmailAddress = "test-email@jantje.hihi";

        report = new();
        report = await _emailService.RequestEmail(emailRequest);
    }

}