@using ISPAddressCheckerStatusDashboard.Services.Interfaces;

@inject IRequestEmailService _emailService;
@inject ICounterService counterService;

<div class="interactive-row-element col">
    <div class="align-items-center">



        <div class="input-text-header-header">
            Send me a:
        </div>

        <div class="input-text-header">
            @ItemHeader
        </div>

        <InputText PlaceHolderText="E-mail address" @bind-StringValue="@emailRequest.EmailAddress" ShowValidation="@displayMessage" InputValid="@report.Success" />

        @switch (EmailType)
        {
            case SendEmailTypeEnum._1:
                if (counterService.GetHeartbeatEmailRequestCounter() != 0)
                {
                    <div class="email-adress-submit">
                        <button @onclick="OnSendEmailButtonClicked">@($"Send ({counterService.GetHeartbeatEmailRequestCounter()}x)")</button>
                    </div>
                }
                else
                {
                    <div class="email-adress-submit">
                        <button disabled>@($"Send ({counterService.GetHeartbeatEmailRequestCounter()}x)")</button>
                    </div>
                }
                break;

            case SendEmailTypeEnum._2:
                if (counterService.GetISPAddressChangedRequestCounter() != 0)
                {
                    <div class="email-adress-submit">
                        <button @onclick="OnSendEmailButtonClicked">@($"Send ({counterService.GetISPAddressChangedRequestCounter()}x)")</button>
                    </div>

                }
                else
                {

                    <div class="email-adress-submit">
                        <button disabled>@($"Send ({counterService.GetISPAddressChangedRequestCounter()}x)")</button>
                    </div>
                }
                break;
        }
    </div>

    <div class="validation-message-section">
    @if (displayMessage)
    {
            @switch (report?.Success)
            {
                case true:
                <DisplaySuccess Message="@report.Message" />
                    break;

                case false:
                    <DisplayWarning Message="@report.Message" />
                    break;
            }
        }
    </div>

</div>

@code {
    [Parameter]
    [EditorRequired]
    public string ItemHeader { get; set; } = "HeaderText";

    [Parameter]
    [EditorRequired]
    public SendEmailTypeEnum EmailType { get; set; }


    private SendEmailModel emailRequest = new();

    private ActionReportModel report = new();

    private bool displayMessage;

    protected override Task OnInitializedAsync()
    {
        emailRequest.Id = Guid.NewGuid().ToString("N");
        emailRequest.EmailType = EmailType;

        return base.OnInitializedAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (string.IsNullOrEmpty(emailRequest?.EmailAddress)) displayMessage = false;
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnSendEmailButtonClicked()
    {
        displayMessage = false;
        // Trim spaces
        if (!string.IsNullOrWhiteSpace(emailRequest.EmailAddress)) emailRequest.EmailAddress = emailRequest.EmailAddress.Replace(" ", "");

        if (ISPAddressChecker.Helpers.ConfigHelpers.EmailAddressIsValid(emailRequest.EmailAddress))
        {
            switch (EmailType)
            {
                case SendEmailTypeEnum._1:
                    counterService.SubtractHeartbeatEmailRequestCounter();
                    emailRequest.EmailType = SendEmailTypeEnum._1;
                    break;

                case SendEmailTypeEnum._2:
                    counterService.SubtractISPAddressChangedRequestCounter();
                    emailRequest.EmailType = SendEmailTypeEnum._2;
                    break;
            }

            emailRequest.EmailValidated = true;
            report = await _emailService.RequestEmail(emailRequest);
            displayMessage = true;
        }
        else
        {
            report = new ActionReportModel
                {
                    Success = false,
                    Message = "Email address not valid"
                };
            displayMessage = true;
        }
    }

}