@using ISPAddressChecker.Helpers
@using ISPAddressCheckerStatusDashboard.Services.Interfaces;


@inject IRequestEmailService _emailService;
@inject ICounterService counterService;

<div class="interactive-row-element col">
    <div class="align-items-center">



        <div class="input-text-header-header">
            Send me a:
        </div>

        <div class="input-text-header">
            @ItemHeader
        </div>

        <InputText PlaceHolderText="E-mail address" @bind-StringValue="@emailRequest.EmailAddress" ShowValidation="@displayMessage" InputValid="@report.Success" />

        @switch (EmailType)
        {
            case ISPAddressChecker.Models.Enums.SendEmailTypeEnum.HeartBeatEmail:
                if (counterService.GetHeartbeatEmailRequestCounter() != 0)
                {
                    <div class="email-adress-submit">
                        <button @onclick="OnSendEmailButtonClicked">@($"Send ({counterService.GetHeartbeatEmailRequestCounter()}x)")</button>
                    </div>
                }
                else
                {
                    <div class="email-adress-submit">
                        <button disabled>@($"Send ({counterService.GetHeartbeatEmailRequestCounter()}x)")</button>
                    </div>
                }
                break;

            case ISPAddressChecker.Models.Enums.SendEmailTypeEnum.ISPAddressChanged:
                if (counterService.GetISPAddressChangedRequestCounter() != 0)
                {
                    <div class="email-adress-submit">
                        <button @onclick="OnSendEmailButtonClicked">@($"Send ({counterService.GetISPAddressChangedRequestCounter()}x)")</button>
                    </div>

                }
                else
                {

                    <div class="email-adress-submit">
                        <button disabled>@($"Send ({counterService.GetISPAddressChangedRequestCounter()}x)")</button>
                    </div>
                }
                break;
        }
    </div>

    <div class="validation-message-section">
        @if (displayMessage)
        {
            @switch (report?.Success)
            {
                case true:
                    <DisplaySuccess Message="@report.Message" />
                    break;

                case false:
                    <DisplayWarning Message="@report.Message" />
                    break;
            }
        }
    </div>

</div>

@code {
    [Parameter]
    [EditorRequired]
    public string ItemHeader { get; set; } = "HeaderText";

    [Parameter]
    [EditorRequired]
    public ISPAddressChecker.Models.Enums.SendEmailTypeEnum EmailType { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<ISPAddressChecker.Models.LogEntryModel> LogEntryCreated { get; set; }


    private SendEmailModel emailRequest = new();

    private ActionReportModel report = new();

    private bool displayMessage;

    protected override Task OnInitializedAsync()
    {
        emailRequest.EmailType = (SendEmailTypeEnum)EmailType;

        return base.OnInitializedAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (string.IsNullOrEmpty(emailRequest?.EmailAddress)) displayMessage = false;
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnSendEmailButtonClicked()
    {
        emailRequest.Id = Guid.NewGuid().ToString("N").Substring(0, 5);
        displayMessage = false;
        // Trim spaces
        if (!string.IsNullOrWhiteSpace(emailRequest.EmailAddress)) emailRequest.EmailAddress = emailRequest.EmailAddress.Replace(" ", "");

        // Validating E-maill address
        emailRequest.EmailValidated = ISPAddressChecker.Helpers.ConfigHelpers.EmailAddressIsValid(emailRequest.EmailAddress);

        if (emailRequest.EmailValidated)
        {

            ISPAddressChecker.Models.LogEntryModel newLogEntry = new();
            newLogEntry.LogType = ISPAddressChecker.Models.Enums.LogType.Information;
            newLogEntry.Service = $"RequestEmail -> SendEmailRequest -> E-mail type: {EmailType.ToString()}";
            newLogEntry.Message = "Email address valid";
            await LogEntryCreated.InvokeAsync(newLogEntry);

            switch (EmailType)
            {
                case ISPAddressChecker.Models.Enums.SendEmailTypeEnum.HeartBeatEmail:
                    counterService.SubtractHeartbeatEmailRequestCounter();
                    emailRequest.EmailType = SendEmailTypeEnum._1;
                    break;

                case ISPAddressChecker.Models.Enums.SendEmailTypeEnum.ISPAddressChanged:
                    counterService.SubtractISPAddressChangedRequestCounter();
                    emailRequest.EmailType = SendEmailTypeEnum._2;
                    break;
            }

            await SendEmailRequest(emailRequest);
        }
        else
        {
            report = new ActionReportModel
                {
                    Success = false,
                    Message = "Email address not valid"
                };

            ISPAddressChecker.Models.LogEntryModel newLogEntry = new();
            newLogEntry.LogType = ISPAddressChecker.Models.Enums.LogType.Error;
            newLogEntry.Service = $"RequestEmail";
            newLogEntry.Message = "Email address not valid";
            await LogEntryCreated.InvokeAsync(newLogEntry);

            displayMessage = true;
        }
    }


    private async Task SendEmailRequest(SendEmailModel emailRequest)
    {
        try
        {
            report = await _emailService.RequestEmailAsync(emailRequest);

            ISPAddressChecker.Models.LogEntryModel newLogEntry = new();
            newLogEntry.LogType = ISPAddressChecker.Models.Enums.LogType.Information;
            newLogEntry.Service = $"RequestEmail";
            newLogEntry.Message = $"RequestId: {emailRequest.Id}, SendEmailRequest -> E-mail type: {emailRequest.EmailType.ToString()},  Email-Address: {StringHelpers.MakeISPAddressLogReady(emailRequest.EmailAddress)}, Valid: {emailRequest.EmailValidated}";
            await LogEntryCreated.InvokeAsync(newLogEntry);

            displayMessage = true;
        }
        catch (Exception ex)
        {
            report = new ActionReportModel
                {
                    Success = false,
                    Message = ex.Message
                };
            displayMessage = true;
        }
    }
}